<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/missing/missing.min.css">
  <link rel="stylesheet" href="/static/missing/missing-prism.min.css">
  <script type="module" src="/static/missing/js/menu.js"></script>
  <title>axum-access-token</title>

</head>

<body>
<main>
  <form method="post" class="f-row">
    <input type="password" name="access_token" autofocus>
    <input type="submit" value="login">
  </form>
</main>
</body>
</html>