<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <title>axum-access-token</title>
</head>

<body class="container">
<header class="navbar">
  <h1>axum-access-token</h1>
  <nav>
    <ul role="list">
      <li><a href="/p1">p1</a></li>
      <li><a href="/logout">logout</a></li>
    </ul>
  </nav>
</header>

<main>
  {% block content -%}
  {%- endblock %}
</main>

<footer>v???</footer>

</body>
</html>
